body{
  background-color:#4f4f8d;
  margin:0px;
  padding:0px;
 }
 ul{
  list-style:none;
 }
 nav{
     display: flex;
     justify-content: space-between;
     align-items:center;
     height:60px;
     background-color:#ffffff;
     box-shadow:2px 2px 12px rgba(0,0,0,0.2);
     padding:0px 5%;
    }
    nav ul{
     display: flex;
    } 
    nav ul li a{
     margin:30px;
     font-family:myriad pro regular;
     color:#505050;
     font-size: 20px;
     font-weight:700;
    }
 a{
  text-decoration:none;
  color: black;
  font-weight: bold;
  font-size: 20px;
 }
 .text-container p{
  line-height:80px;
  text-align: center;
  font-size: 30px;
  color: #ffffff;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 #name{
 font-size: 100px;
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 color:#ffffff;
 }
 .about-container{
  width:80%;
  height:300px;
  background:#ffffff;
  border-radius:20px;
  box-shadow:2px 2px 12px rgba(0,0,0,0.2);
  display: flex;
  margin: -9%  auto 20px auto;
  position: relative;
  justify-content:space-evenly;
  align-items: center;
 }
 .about-container img{
  height:250px;
 
 }
 .about-text{
  width:700px;
 } 
 #aboutme {
  color:black;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size:30px;
  line-height:0px;
 }
 .about-text #text-title{
  color:#3e3d3d;
  font-size:20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height:5px;
 }
 
 .about-text p:nth-child(3),.about-text p:nth-child(4){
  color:#7e7d7d;
  font-family:calibri;
  font-size:19px;
 }
 .projects{
  height:600px;
  background-color:#ffffff;
  padding: 2% 10% 0px 10%;
 }
 .projects-text p:nth-child(1){
  font-family: calibri;
  font-weight:bold;
  color:#1d1c1c;
  font-size:30px;
  line-height:0px;
 }
 .projects-text{
  width: 500px;
  margin:50px 0px;
 }
 .box-deck{
  display:flex;
  flex-direction: row;
  justify-content:space-between;
 }
 
 span{
  width:200px;
  height:40px;
  border-radius:50%;
  color:#ffffff;
  display: flex;
  justify-content: center;
  align-items:center;
  font-family: calibri;
  font-weight: bold;
  
 }
 
 footer p{
  font-family: calibri;
 }
 footer{
  height:300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
 }
 .social-icons a{
  width:40px;
  height:40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#e6e3e3;
  margin:40px 10px;
  border-radius:50%;
 }
 .social-icons{
  display: flex;
  margin-top: 125px;
 }
 .social-icons i,.social i{
  color:#000000;
 }
 .social-icons a:hover{
  background-color:#000000;
  box-shadow:2px 2px 12px rgba(0,0,0,0.2);
  transition:all ease 0.5s;
 }
 .social-icons a:hover i,
 .social a:hover i{
  color:#FFFFFF;
  transition:all ease 0.5s;
 }
 .socialscroll{
  position: fixed;
  top:50%;
  right:0px;
  transform:translateY(-50%);
 }
 .socialscroll a{
  display: flex;
  justify-content: center;
  align-items: center;
  width:50px;
  height:50px;
  margin:0px;
  padding: 0px;
  line-height:0px;
  background-color:#FFFFFF;
  border:1px solid #CBCBCB;
  box-shadow:2px 2px 12px rgba(0,0,0,0.2);
 }
 .socialscroll a:hover{
  background-color:#000000;
  transition:all ease 0.5s;
 }
 .socialscroll i{
  font-size:20px;
  color:#2B2B2B;
 }

 .flip-card {
     background-color: transparent;
     width: 300px;
     height: 350px;
     border: 1px solid #f1f1f1;
     perspective: 1000px; 
   }
   
   /* Position the front and back side */
   .flip-card-inner {
     position: relative;
     width: 100%;
     height: 100%;
     text-align: center;
     transition: transform 0.8s;
     transform-style: preserve-3d;
   }
   
   /* Do an horizontal flip when you move the mouse over the flip box container */
   .flip-card:hover .flip-card-inner {
     transform: rotateY(180deg);
   }
   
   /* Position the front and back side */
   .flip-card-front, .flip-card-back {
     position: absolute;
     width: 100%;
     height: 100%;
     backface-visibility: hidden;
   }
   
   /* Style the front side */
   .flip-card-front {
     background-color: #4f4f8d;
     color: white;
     font-family: 'Calibri';
     font-size: 14pt;
   }
   
   /* Style the back side */
   .flip-card-back {
     color: black;
     transform: rotateY(180deg);
   }
   h3{
       color: black;
       font-size: 22pt;
   }
       /* Contact Page */
      
    #contact-section{
        background-color:#4f4f8d;
        padding-bottom: 2%;
      }
      #contact-section .container{
        text-align: center;
          color: white;
          letter-spacing: 1px;
      }
      h1{
        text-align: center;
      }
    #contactpar{
        text-align: center; 
        margin-left: auto;
         margin-right: auto; 
         padding-bottom: 3%;
         color: white;
         letter-spacing:1px;
      }
      
      .contact-form{
        cursor: pointer;
        border:2px solid white;
        color: white;
        display: grid;
        grid-template-columns: auto auto;
        }
        
        .form-info{
          font-size: 16px;
          font-style: italic;
          color: white;
          letter-spacing: 2px;
        }
        input{
          padding: 10px;
          margin:10px;
          width: 70%;
          background-color:rgba(136, 133, 133, 0.5);
          color: white;
          border: white;
          outline:none;
        }
    
        input::placeholder{
          color: white;
        }
      
         textarea{
        padding: 10px;
        margin: 10px;     
        width: 70%;
        background-color:rgba(136, 133, 133, 0.5);
        color: white;
        border: none;
        outline:none;
       }
       textarea::placeholder{
         color: white;
       }
       
        .submit{
        width: 40%;
        background: none;
        padding: 4px;
        outline: none;
        border: 1px solid #fff;
        color: #fff;
        font-size: 13px;
        font-weight: bold;
        letter-spacing: 2px;
        height: 33px;
        text-align: center;
        cursor: pointer;
        letter-spacing: 2px;
        margin-left: 3%;
        border:2px solid rgb(190, 190, 190);
        color: rgb(190, 190, 190);
       }
    
       .submit:hover{
        border: 1px solid #fff;
        color: #fff;
        cursor: pointer;
       }
       ul{
        list-style:none;
       }
      